body
{
	font-family: helvetica, arial, sans-serif;
}

dt {
	font-weight: bold;
}

article {
	margin-left: 25%;
	margin-right: 25%;
	padding-bottom: 50px;
}

a {
	color: blue;
}

a:visited {
	color: blue;
}

a:hover {
	color: red;
}

header {
	margin-left: 10%;
	margin-right: 10%;
}

h1 {
	text-align: center;
}

nav {
	   height: 100%; /* 100% Full-height */
  position: fixed; /* Stay in place */
  z-index: 1; /* Stay on top */
  top: 0; /* Stay at the top */
  left: 0;
  overflow-x: hidden; /* Disable horizontal scroll */
  padding-top: 60px; /* Place content 60px from the top */
  transition: 0.5s; /* 0.5 second transition effect to slide in the sidenav */
}